.node {
  cursor: pointer;
}
.node circle {
  fill: #C72E2E;
  stroke: #000000;
  stroke-width: 1.5px;
}
.node text {
  font: 15px sans-serif;
  overflow: auto;
}
.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.wrapper {
  height: 750px;
}

svg {
  overflow-y: scroll;
  background-color: rgb(255, 229, 204);
  scroll-behavior: smooth;
}

#chronology {
  overflow-y: scroll;
}